<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Native API</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list lines="none">
    <ion-item>
      <ion-label text-center>Resources</ion-label>
    </ion-item>

    <div class="box" id="g1" (click)="scan()">
      <p>Barcode Scanner</p>
    </div>
    <div class="box" id="g2" (click)="maps()">
      <p>Google Maps</p>
    </div>
    <div class="box" id="g3" (click)="googelLogin()">
      <p>Google Login</p>
    </div>
    <!-- <div class="box" id="g5" (click)="fbLogin()">
      <p>Facebook Login</p>
    </div> -->
  </ion-list>

</ion-content>