<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Google Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item>
      <ion-label text-center>Resources</ion-label>
    </ion-item>
    <div class="box" id="g1" (click)="login()">
      <p>Login</p>
    </div>

  </ion-list>
  <!-- <ion-button (click)="login()" color="secondary" expand="block">
    Login
  </ion-button> -->

</ion-content>