.avatar {
    border-radius: 100%;
    position: absolute;
  }

  .info {
    padding-top: 4px;
  }

  /* Profile edit button */
  .edit-button {
    background: #fff; 
    border: 1px solid #ccc; 
    font-size: 13px; 
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    width: 90%;
    margin-right: 30px;
  }

  .edit-button:active {
    border-color: #dce2ed;
}
.all_segments{
  margin-bottom: 10px;
  .grids{
          .card{
            box-shadow: unset;
            margin:0;
            padding: 0;
            background-color: #fff!important;
            box-shadow: 0 5px 20px 3px rgba(0,0,0,0.14) !important;
        }
        .badge{
            position: absolute;
            font-size: 20px;
            top: 10%;
            right: 5px;
            background-color: transparent;
            border-radius: 0;
        }
    }
  .postCards{
    .card-content{
      .title{
        font-weight: bold;
      }
      .descriptions{
        font-size: 10px;
        color: gray;
      }
    }
  }
}
 
