ion-list-header {
  font-size: 20px;
  color: #2a478b;
  font-weight: 700;
}

.select {
  border: 1px solid #b7b2b2;
  padding: 0 10%;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 30px;
  margin: 16px 0px 0px 0px;
}

ion-select {
  border: 1px solid #b7b2b2;
  padding: 0 4%;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 30px;
  margin: 16px 0px 0px 0px;
}

//.icon2 {
//  position: absolute;
//  right: 0;
//  font-size: 28px;
//  padding: 4px 10px;
//  max-width: 12%;
//  z-index: 999;
//  top: 35%;
//}

.icon {
  position: absolute;
  right: 0;
  font-size: 28px;
  padding: 0 10px;
  max-width: 14%;
}

.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .nav-item {
    flex: 0 0 33.33%;
    text-transform: capitalize;
  }
}

.photo {
  color: #c1c1c1;
  margin: 10px 25px;
}

.upload {
  margin: auto;
}

.InputDesign {
  margin: 16px 0px 0px 0px;
}

.add {
  font-weight: 600;
  color: #2a478b;
}

.mt {
  margin-top: 10px;
}

.preview {
  width: 150px;
}
