<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Side Menus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none">
    <ion-item>
      <ion-label text-center>Resources</ion-label>
    </ion-item>
    <div class="box" id="g1" (click)="example('1')">
      <p>Sidemenu 1</p>
    </div>
    <div class="box" id="g2" (click)="example('2')">
      <p>Sidemenu 2</p>
    </div>
    <div class="box" id="g3" (click)="example('3')">
      <p>Sidemenu 3</p>
    </div>
    <div class="box" id="g4" (click)="example('4')">
      <p>Sidemenu 4</p>
    </div>
    <div class="box" id="g5" (click)="example('5')">
      <p>Sidemenu 5</p>
    </div>

  </ion-list>
</ion-content>