 
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.header_img{
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0cd1e8;
}
.box{
  height: 60px !important;
  p{
    color: #292a6d !important;
  }
}