<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <ion-title color="primary">Forgot Password</ion-title>
  <form [formGroup]="form">
    <div class="ion-margin-top ion-margin-bottom">
      <ion-input
        class="InputDesign"
        type="text"
        placeholder="Enter MyKad / Passport No."
        formControlName="email"
      >
      </ion-input>
      <ion-text
        *ngIf="email.touched && email.errors"
        class="padding-top d-block error"
        color="danger"
      >
        Please enter email or MyKad/Passport Number.
      </ion-text>
    </div>

    <ion-button
      shape="round"
      color="primary"
      (click)="onForgotPassword()"
      class="ion-margin-bottom ion-margin-top"
      expand="block"
    >
      <span class="ion-text-center">Forgot Password</span>
    </ion-button>
  </form>
</ion-content>
