.icon {
  position: absolute;
  right: 4%;
  font-size: 28px;
  padding: 9px 13px;
  max-width: 12%;
  z-index: 999;
  top: 17%;
}
.eye {
  position: absolute;
  right: 4%;
  font-size: 28px;
  padding: 6px 13px;
  max-width: 12%;
  z-index: 999;
  top: 18%;
}
