<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar style="--background: #2a478b;">
          <div class="ion-text-center mt">
            <img
              class="imageDesign"
              src="./assets/image/logo-white.png"
              alt=""
            />
          </div>

          <div class="ion-text-start mt">
            <!-- <img *ngIf="Image != ''" src="{{Image}}" class="Profile" alt="" /> -->
            <ion-row>
              <ion-col size="3" class="ion-text-end">
                <img
                  src="./assets/image/welcome-profile.png"
                  class="Profile"
                  alt=""
                />
              </ion-col>
              <ion-col size="9">
                <p class="para1">
                  Welcome <span [innerText]="user?.name || 'User'"></span>!
                </p>
                <p class="para2">
                  Last Log on {{ myDate | date: 'EEEE, d MMMM y' || 'User' }}
                </p>
              </ion-col>
            </ion-row>

            <div class="ion-text-center mt">
              <!-- <ion-label style="color: white"> {{result?.name || 'NA'}}</ion-label> -->
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content style="--background: #dee9f0;">
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              [routerDirection]="'root'"
              lines="none"
              [routerLink]="[p.url]"
            >
              <img [src]="p.src" [alt]="p.title" class="icon" />
              &nbsp;&nbsp;
              <ion-label class="label">
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- logout  -->
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="doLogout()">
              <img src="./assets/image/logout.png" alt="logout" class="icon" />
              &nbsp;&nbsp;
              <ion-label class="label">
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
