<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Parallax
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="none">
    <ion-item>
      <ion-label text-center>Resources</ion-label>
    </ion-item>
    <div class="box" id="g1" (click)="hideheaders()">
      <p>Parallax With Headers</p>
    </div>
    <div class="box" id="g2" (click)="shrinking()">
      <p>Parallax With Shrinking Header</p>
    </div>
    <div class="box" id="g3" (click)="parallaxHeader()">
      <p>Parallax With Shrinking Header</p>
    </div>
    <div class="box" id="g4" (click)="spotify()">
      <p>Parallax With Shrinking Header</p>
    </div>
    <div class="box" id="g5" (click)="streachHeader()">
      <p>Parallax With Streach Header</p>
    </div>
  </ion-list>

</ion-content>