 
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.header_img{
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #63bbe4;
}
.box{
  height: 40px !important;
  p{
    color: #292a6d !important;
  }
}

ion-card-title {
  font-weight: 400;
}

.ion-color-secondary {
  --ion-color-base: #63bbe4 !important;
  --ion-color-base-rgb: var(--ion-color-secondary-rgb, 12,209,232) !important;
  --ion-color-contrast: var(--ion-color-secondary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb, 255,255,255) !important;
  --ion-color-shade: var(--ion-color-secondary-shade, #63bbe4) !important;
  --ion-color-tint: var(--ion-color-secondary-tint, #24d6ea) !important;
}