<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Parallax With Header Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" parallaxHeader="assets/images/photo_1.jpeg" [parallaxHeight]="300">
  <div class="main-content">
    <ion-card *ngFor="let fruits of basicAlertCard" (click)="showBasicAlert(fruits)">
      <ion-img [src]="fruits.image"></ion-img>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="title">{{fruits.name}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="descriptions">{{fruits.descriptions}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>