// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


// Fonts Path you can use

@font-face {
  font-family: sn-bold;
  src: url(assets/fonts/san/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: sn-heavy;
  src: url(assets/fonts/san/SF-Pro-Display-Heavy.otf);
}

@font-face {
  font-family: sn-medium;
  src: url('assets/fonts/san/SF-Pro-Display-Medium.otf');
}

@font-face {
  font-family: sn-black;
  src: url('assets/fonts/san/SF-Pro-Display-Black.otf');
}

@font-face {
  font-family: sn-regular;
  src: url('assets/fonts/san/SF-Pro-Display-Regular.otf');
}

.header_img{
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #013098;
    padding: 20px;
}

.sidemenu1{
  .active_menu{
    --background: rgb(245, 137, 148);
    border-left: 10px;
    color: #63131b;
    font-size: 15pt;
    .notes{
      color: #63131b;
      font-size: 12pt;
    }
  }
  .normal_menu{
    border-left: 10px;
    color: #000000;
    font-size: 15pt; 
     .notes{
      color: #000000;
      font-size: 12pt;
    }
  }
}

.sidemenu2{
    --background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  .div_logo {
        width: 100%;
        height: 20vh;
        position: relative;

        .img_logo {
            width: 105px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
   
  .name{
      display: flex;
      justify-content: center;
      color:white;
    }
    .item_list{
      background: transparent !important;
      margin-top: 20px;
      margin-left: 5px;
      margin-right: 5px;
      .home_menu{
        --background: rgb(133, 24, 56);
        color:white;
        padding: 10px;
      }
      .edit_menu{
        --background: rgb(31, 184, 100);
        color:white;
        padding: 10px;
      }
      .friends_menu{
        --background: rgb(227, 193, 70);
        color:white;
        padding: 10px;
      }
      .list_menu{
        --background: rgb(96, 50, 120);
        color:white;
        padding: 10px;
      }
      .files_menu{
        --background: rgb(119, 158, 137);
        color:white;
        padding: 10px;
      }
      .setting_menu{
        --background: rgb(88, 136, 138);
        color:white;
        padding: 10px;
      }
     
    }
}

.sidemenu3{
  .div_logo {
        width: 100%;
        height: 20vh;
        position: relative;

        .img_logo {
            width: 105px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        } 
  }
  .name{
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: rgb(88, 136, 138);
  }
  .item_menu{
    margin-top: 20px;
    .camera_box{
        background: rgb(133, 24, 56);
        .div_menu{
            width: 100%;
            height: 10vh;
            position: relative;
                .menu_img {
                    width: 60px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                } 
          } 
          .menu_name{
              display: flex;
              justify-content: center;
              font-weight: bold;
              color: white;
              padding:10px;
          }
    }

    .gallery_box{
      background: rgb(31, 184, 100);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .ss_box{
      background: rgb(227, 193, 70);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .tools_box{
      background: rgb(96, 50, 120);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .share_box{
      background: rgb(119, 158, 137);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .send_box{
      background: rgb(88, 136, 138);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }
  }
  
}

.sidemenu4{
    --width: 100vw;
    max-width: 100vw;
    --background: #0cd1e8;
    height: 40%;
    box-shadow: 11px 13px 19px 10px rgba(0, 0, 0, 0.3);
     -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
     .item_menu{
    margin-top: 20px;
    .camera_box{
        background: rgb(133, 24, 56);
        box-shadow:6px -1px 19px 5px rgba(141, 54, 54, 0.3);
        .div_menu{
            width: 100%;
            height: 10vh;
            position: relative;
                .menu_img {
                    width: 60px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                } 
          } 
          .menu_name{
              display: flex;
              justify-content: center;
              font-weight: bold;
              color: white;
              padding:10px;
          }
    }

    .gallery_box{
      background: rgb(31, 184, 100);
      box-shadow:6px -1px 19px 5px rgba(131, 184, 100, 0.3);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .ss_box{
      background: rgb(227, 193, 70);
      box-shadow:6px -1px 19px 5px rgba(227, 193, 70, 0.3);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .tools_box{
      background: rgb(96, 50, 120);
      box-shadow:6px -1px 19px 5px rgba(96, 50, 120, 0.3);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .share_box{
      background: rgb(119, 158, 137);
      box-shadow:6px -1px 19px 5px rgba(119, 158, 137, 0.3);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }

    .send_box{
      background: rgb(88, 136, 138);
      box-shadow:6px -1px 19px 5px rgba(88, 136, 138, 0.3);
      .div_menu{
          width: 100%;
          height: 10vh;
          position: relative;
              .menu_img {
                  width: 60px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
              } 
        } 
        .menu_name{
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: white;
            padding:10px;
        }
    }
  }
}

.sidemenu5{
  --background :var(--ion-color-dark);
  ion-list{
    background:  var(--ion-color-dark);
    ion-item {
      --background:  var(--ion-color-dark);
      padding: 10px;
      .main_title{
        color:var(--ion-color-success);
        padding: 5px;
      }
      .sub_title{
        color:white;
        padding: 5px;
      }
    }
  }
 
}
// Global css
  .logo_img {
    height: 150px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    padding-top: 40px;
  }

  .title{
      margin-top: 10px;
      text-align: center;
      margin-bottom: 10px;
      font-family: sn-bold !important;
  }
  .menu_list{
      margin-top: 20px;
  }

  .menu_icon{
      height: 25px;
      width: 25px;
  }
  ion-label{
    font-family: sn-regular !important;
  }
  .label{
    font-family: sn-bold !important;
  }

  .welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.box {
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.box p {
  line-height: 50px;
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: bold;
}



/* Gradient 1 */
#g1 {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

/* Gradient 2 */
#g2 {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

/* Gradient 3 */
#g3 {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

/* Gradient 4 */
#g4 {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

/* Gradient 5 */
#g5 {
  background: linear-gradient(90deg, #b9deed, #efefef);
}

/* Gradient 6 */
#g6 {
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

/* Gradient 7 */
#g7 {
  background: linear-gradient(90deg, #faf0cd, #fab397);
}

/* Gradient 8 */
#g8 {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

.rojos span,
.rojos .sc-ion-action-sheet-md {
    color: red !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fast {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
@import "~@mobiscroll/angular/dist/css/mobiscroll.scss";

.iconheader{
  font-size: 39px;
  width: 2em;
  height: 2em;
}
  .menubackground{
    background-color: #e3ecf8 !important;
  }
