/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.header-md::after {
  background: transparent;
}

ion-button {
  --border-radius: 40px;
  height: 50px;
  text-transform: none;
  font-size: 20px;
  word-break: break-word;
  max-width: 328px;
  white-space: normal;
  width: 100%;
  margin: auto;
}

.InputDesign {
  --padding-start: 14px;
  border: 1px solid #c1c1c1;
  border-radius: 25px;
  height: 40px;
  color: black;
  // color: #928a8a;
  background-color: #f1f1f1;
  border-radius: 30px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

ion-datetime {
  background-image: url('./assets/image/calender.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px 20px;
  background-origin: content-box;
  padding-right: 10px;
}

.padding-top {
  padding-top: 0.25rem;
}

.error {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
}

.link {
  text-align: center;
  color: #062d71;
  text-decoration: none;
}

.d-block {
  display: block;
}

ion-title {
  font-size: 20px;
  font-weight: 600;
}

button:focus {
  outline: none;
}
